extends layout
block content
  div(class="container")
   h1(class="page-header")选项卡
   ul(class="thumbnails")
    li(class="span3")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="")
    li(class="span3")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="")
    li(class="span3")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="")
    li(class="span3")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="")
    li(class="span6")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="",width="520px",height="380px")
    li(class="span6")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="",width="520px",height="180px")
    li(class="span3")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="")
    li(class="span3")
     a(class="thumbnail",href="#")
      img(src="http://www.baidu.com/img/bd_logo.png",alt="")

   h1(class="page-header")选项卡
   div(class="alert alert-block")
    a(class="close",data-dismiss="alert") *
    h4提示
    span hlllsdfsdalfjdkfjdks
   ul(class="breadcrumb")
    li
     a(href="#")首页
     span(class="divider")/
    li(class="active")产品列表
  script(src="/javascripts/jquery-1.11.1.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/prettify.js")
  script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
